/*('Background_Web.jpg'); }*/
/*('vintage-dog.gif'); }*/
/*('Fondo-Perro.jpg'); }*/
body{
	padding:0px;
	margin:0px;
	background-image:url('Background_Web.jpg');
	color:#FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:normal;	
	height:100%;	
}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}

li.formone{
	list-style: none;
	background-image: url(Rombo.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px; 
}

li.two{
	list-style: square inside;
	list-style-position: left center;
	background-repeat: no-repeat;
	padding-left: 8px; 
}

 
 table#table1{
background-color:#FFA101;
margin-top:50px;
position: center;
 }

td#one {
background-color:#190800;
}
td#two {
background-image: url('index_02.jpg');
}
td#three{
background-color:#FFA101;
vertical-align: bottom;
 }

.clear{
clear:both;
}

.frame {
	border: 1px solid #D5E6E0;
}

.text1 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
	text-align: center; 
}
.text2 {
	font: 10px/11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-align: center;
	
}
.text3 {
	font: 11px/12px Tahoma, Arial, sans-serif;
	color:#FFF;
	font-weight:bold;
}

.text4 {
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#1e0c09;
	text-align: justify;
	position:center;
    width:auto;
    height:auto;
	padding:10px;
	; 
}
.text5 {
	font: 16px/18px Tahoma, Geneva, sans-serif;
	color:#fff;
	font-weight:bold;
	text-align: center;
}

ul{
	list-style-type: square;
}
a:link {
	font: 11px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

a:visited{
	font: 11px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	font: 11px/12px Tahoma, Arial, sans-serif;
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
}

a.a:link {
	font: 11px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;;
	font-weight:normal;
	text-decoration:underline;
}

a.a:visited{
	font: 11px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;;
	font-weight:normal;
	text-decoration:underline;
}

a.a:hover {
	font: 11px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;;
	font-weight:normal;
	text-decoration:none;
}

a.b:link {
	font: 11px/14px Arial, Helvetica, sans-serif;
	color:#502a23;
	font-weight:normal;
	text-decoration:underline;
}

a.b:visited{
	font: 11px/14px Arial, Helvetica, sans-serif;
	color:#502a23;
	font-weight:normal;
	text-decoration:underline;
}

a.b:hover {
	font: 11px/14px Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:normal;
	text-decoration:none;
}

a.c:link {
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

a.c:visited{
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

a.c:hover {
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:underline;
}

a.d:link {
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

a.d:visited{
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

a.d:hover {
	font: 10px/12px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:normal;
	text-decoration:underline;
}

input,textarea, select{
border:#fff 1px solid;
background-color:#fff;
width:auto;
height:auto;
font:12px/14px Tahoma, sans-serif; color:#000; 
}


a.adv:link {text-decoration: none; font-weight:bold; color:#FFF}
a.adv:hover {text-decoration: none; font-weight:bold; color:#FFF}
a.adv:visited {text-decoration: none; font-weight:bold; color:#FFF}


* 
 
#menu {  text-align: center;
font-size: 0.7em;
width: 775px; /*820*/
margin: 125px auto;/*200*/
}
#menu ul { list-style-type: none;}
#menu ul li.nivel1 { float: left; /*left*/
width: 155px;
margin-right: 0px;
}
#menu ul li a {display: block;
text-decoration: none;
color: #fff;
background-color: #3e1400;
border: solid 1px #fff;
padding: 8px;
position: relative;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
background-color: #2a0e00;
color: #fff;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
list-style: none;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;left: 0px;
}
#menu ul li ul li a {width: 153px;
padding: 6px 0px 8px 0px;
border-bottom-color: #000;
}
#menu ul li ul li a:hover {border-bottom-color: #000;
position: relative;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
margin: 0px;
padding: 0px; outline: 0;
}

ul#uno {top: -64px!important; top: -94px;}/*58 -89 */
ul#dos {top: -145px!important; top: -176px;}
ul#tres {top: -112px!important; top: -110px;}/*87 -118 */
ul#cuatro {top: -84px!important; top: -147px;}
ul#cinco {top: -87px!important; top: -118px;}




#cuerpo {
    width:800px;
	height:50px;
    margin:15px;
    background-color:#fec366;
    border:2px #372217 solid;
    border-radius:30px;
}

#cabecera {
    overflow:hidden;
    padding:0px;
    border:0px #000 solid;
}

#cabecera .titulo {
    text-align:center;
    font-family:tahoma, arial;
    font-size:30px;
    font-weight:normal;
    color:#78368E;
    display:block;
}

#cabecera .titulo a {
    text-decoration:none;
    color:#78368E;
}

#cabecera h1 {
    text-align:center;
    font-size:14px;
    font-weight:normal;
    color:#78368E;
    margin-top:15px;
}

#cabecera h1 a {
    text-decoration:none;
    color:#78368E;
}

#cabecera .fondo_cabecera {
    background-color:#F4E6F7;
    padding:15px 0px;
    border-bottom:1px #372217 dotted;
}

/*p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}*/




.myform{
width:400px;
padding:0px;
}
#stylized{
border:solid 0px #fe9b00;
background:#fec366;
}

#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.submit input {
  width:100px;
}


input.search_form {
  width:100px
}